@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: black;
    z-index: 2;
}

nav h1 {
    font-size: 2rem;
}

nav ul {
    display: flex;
}


nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    padding: 7px 10px;
    border-radius: 3px;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.068);
}
.PageRemy{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
    top: 250px;
}

.section{

background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: max-content;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;




}



.titre{
    color: white;
}
.imagePres{
    width: 50%;
    margin: 40px;
}
.profil{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
.listePres{
    display: flex;
    flex-direction:column;

}
.projet{
    width: fit-content;
    padding: 0px 20px 0px 20px;

}
.passion{
 
    width: 70%;
}
.ProjetetPassions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    width: fit-content;
}
.galerie{
    display: flex;
    flex-direction: row;
    justify-content: center;
   width: fit-content;
}
.imagegalerie{
    width: 10%;
  
}
